<!DOCTYPE html>
<html lang="en">
  <!--HEAD-->
<head>
<title>CONEJITO FELIZ</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Esta es la pagina de inicio del conejito feliz contacto">
<meta name="keywords" content="conejito feliz, kinder, jardin, contacto">
<link href="../SASS/styles.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!--CIERRE HEAD-->
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <h1 class="logo"><b>Conejito <span class="logo-2">Feliz</span></b></h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse w-100" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="../index.html">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/contacto.html">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/galeria.html">Galeria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/ubicación.html">Ubicación</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <!--MAIN-->
<main>
  <section name="galeria">
    <div class="container" >
    <div class="row">
        <div class="col">
            <div class="card-container">
                <div class="card">
                    <div class="card-title"><h3>Contacto</h3></div>
                    <div class="card-body">
                        <label for="Nombre">Nombre:</label>
                        <input class="form-control" type="text">
                        <label for="Correo">Correo:</label>
                        <input class="form-control" type="email">
                        <label for="Consultas">Consultas:</label>
                        <textarea class="form-control" style="resize:none;"></textarea>
                        <button class="btn-contacto">ENVIAR</button>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <!--CIERRE MAIN-->
</section>
</main>
  <!--FOOTER-->
<footer> <div> <p> <b>©Copyright 2022-Conejito Feliz.com </b></p></div></footer>
  <!--CIERRE FOOTER-->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>


