<!DOCTYPE html>
<html lang="en">
<head>
<title>CONEJITO FELIZ</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../css/style.css" rel="stylesheet">
</head>
<body>
<div class="topnav">
  <h1 class="logo"><b>Conejito <span class="logo-2">Feliz.</span></b></h1>
  <ul>
    <li><a href="../index.html"><b>Inicio</b></a></li>
    <li><a href="./contacto.html"><b>Contacto</b></a></li>
    <li><a href="./galeria.html"><b>Galería</b></a></li>
    <li><a href="./ubicación.html"><b>Ubicación</b></a></li>
  </ul>
</div>
<main>
<div class="row">
    <div class="col">
        <div class="card-container">
            <div class="card">
                <div class="card-title"><h3>Contacto</h3></div>
                <div class="card-body">
                    <label for="Nombre">Nombre:</label>
                    <input class="card-input" type="text">
                    <label for="Correo">Correo:</label>
                    <input class="card-input" type="email">
                    <label for="Consultas">Consultas:</label>
                    <textarea></textarea>
                    <button class="btn-contacto">ENVIAR</button>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
</main>
<footer>
    <div>
        <p> <b>©Copyright 2022-Conejito Feliz.com </b></p>
    </div>
</footer>
</body>
</html>


