<!DOCTYPE html>
<html lang="en">
<head>
<title>CONEJITO FELIZ</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../css/style.css" rel="stylesheet">
</head>
<body>
<div class="topnav">
  <h1 class="logo"><b>Conejito <span class="logo-2">Feliz.</span></b></h1>
  <ul>
    <li><a href="../index.html"><b>Inicio</b></a></li>
    <li><a href="./contacto.html"><b>Contacto</b></a></li>
    <li><a href="./galeria.html"><b>Galería</b></a></li>
    <li><a href="./ubicación.html"><b>Ubicación</b></a></li>
  </ul>
</div>

<div class="row">
  </div>
  <div class="col">
    <h1 class="titulo-galeria" ><br>GALERIA</h1>
 </p>
</div>
<div>
    <img src="../img/IMG_galeria.jpg" width="300" height="200" alt="Galería 1" class="img-galeria">
    <img src="../img/IMG_galeria 2.jpg" width="300" height="200" alt="Galeria 2"  class="img-galeria">
    <img src="../img/IMG_galeria 3.jpg" width="300" height="200" alt="Galeria 3" class="img-galeria">
    <img src="../img/IMG_galeria 4.jpg" width="300" height="200" alt="Galeria 4" class="img-galeria">
</div>
<footer>
  <div>
  <p> <b>©Copyright 2022-Conejito Feliz.com </b></p>
  </div>
</footer>
</body>
</html>