<!DOCTYPE html>
<html lang="en">
<head>
<title>CONEJITO FELIZ</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../css/style.css" rel="stylesheet">
</head>
<body>
<div class="topnav">
  <h1 class="logo"><b>Conejito <span class="logo-2">Feliz.</span></b></h1>
  <ul>
    <li><a href="../index.html"><b>Inicio</b></a></li>
    <li><a href="./contacto.html"><b>Contacto</b></a></li>
    <li><a href="./galeria.html"><b>Galería</b></a></li>
    <li><a href="./ubicación.html"><b>Ubicación</b></a></li>
  </ul>
</div>

<div class="row">
  <div class="col-md img-hero">
      <img src="../img/jardin.webp " width="450" height="450" class="img-nosotros"> 
  </div>
  
  
  <div class="col-md " style="padding-left: 75px; padding-top: 100px;">
    <h1>CONEJITO <span class="text-logo"><strong>FELIZ!</strong></span></h1>
    <p>Nuestro eje de trabajo es la enseñanza personalizada y la construccion de conocimientros
  para nuestros niños, brindandoles un espacio para crecer en el amor y libertad. <br>
  <br> <span class="titulo-listas"><b>Actividades Especiales: </b></span>
 </p>
  <ul class="listas-contacto">
  <li><b>Música e Inglés</b></li>
  <li><b>Extensión horaria y comedor</b></li>
  <li><b>Taller bilingüe</b></li>
  <li><b>Taller de arte </b></li>
 </ul>
</div>
<footer>
  <div>
  <p> <b>©Copyright 2022-Conejito Feliz.com </b></p>
  </div>
</footer>
</body>
</html>


