<!DOCTYPE html>
<html lang="en">
<head>
<title>CONEJITO FELIZ</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../css/style.css" rel="stylesheet">
</head>
<body>
<div class="topnav">
  <h1 class="logo"><b>Conejito <span class="logo-2">Feliz.</span></b></h1>
  <ul>
    <li><a href="../index.html"><b>Inicio</b></a></li>
    <li><a href="./contacto.html"><b>Contacto</b></a></li>
    <li><a href="./galeria.html"><b>Galería</b></a></li>
    <li><a href="./ubicación.html"><b>Ubicación</b></a></li>
  </ul>
</div>

<div class="row">
<div class="col">
  <h1 class="titulo-ubicacion" ><br>Ubicación</h1>
  <center>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15723.071989542676!2d-83.9042182!3d9.8698217!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd1b1464fbfc2e4e3!2sKinder%20Conejito%20Feliz!5e0!3m2!1ses-419!2scr!4v1661199256122!5m2!1ses-419!2scr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</center>
</div>
</div>


<footer>
  <div>
  <p> <b>©Copyright 2022-Conejito Feliz.com </b></p>
  </div>
</footer>
</body>
</html>


